/* Paleta de colores */
:root {
  --primary-color: #355971; /* Azul */
  --secondary-color: #844b45; /* Rojo */
  --accent-color: #3f9e67; /* Verde */
  --background-color: #ecf0f1; /* Gris claro */
  --text-color: #34495e; /* Texto principal */
  --heading-color: #2c3e50; /* Color de encabezados */
  --border-color: #bdc3c7; /* Color del borde */
}

body {
  background-color: var(--secondary-color);
}
html {
  scroll-behavior: smooth;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: medium;
  color: var(--text-color);
  background: var(--background-color);
}
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
  overflow: hidden;
  background-color: var(--primary-color);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: background-color 0.3s ease;
}
header img {
  object-fit: contain;
  max-height: 10vh;
  width: auto;
}
nav {
  display: flex;
  gap: 5vw;
}
nav a {
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 2px 2px black;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #2ecc71;
  transform: scale(1.1);
}

body.scrolled header {
  background-color: #1f3c5051;
}
.title {
  background-color: var(--secondary-color);
  overflow: hidden;
  margin-bottom: 2vh;
}
main {
  background-image: url(https://previews.123rf.com/images/9dreamstudio/9dreamstudio2104/9dreamstudio210400744/167717501-fondo-de-cine-con-claqueta-de-cine-y-carrete-de-pel%C3%ADcula.jpg);
  padding: 0 0 2rem 0;
}

h1 {
  display: inline-block;
  font-size: 8vw;
  animation: desplazamiento 5s linear infinite;
}
@keyframes desplazamiento {
  0% {
    transform: translateX(-110%);
  }
  100% {
    transform: translateX(210%);
  }
}
h1:hover {
  color: #2ecc71;
  text-decoration: underline;
  cursor: pointer;
}

.section {
  width: 80%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
  gap: 5vw;
}
.sectionTitle {
  text-align: center;
  background: var(--secondary-color);
}

.card {
  border: medium solid rgba(0, 0, 0, 0.624);
  border-radius: 5px;
  background-color: var(--secondary-color);
  text-align: center;
  color: #fff;
}
.card:hover {
  color: #2ecc71;
  transform: scale(1.05);
  cursor: pointer;
  border-radius: 25px;
}

.card img {
  object-fit: contain;
  max-height: 40vh;
  width: auto;
}

.rate {
  margin: auto;
  max-width: 20%;
  background-color: #bdc3c7;
  border: thin solid var(--border-color);
  border-radius: 5px;
  color: green;
}
.rate:hover {
  transform: scale(1.1);
}

.footer {
  width: 100%;
  margin-top: 2rem;
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
